.not-found-main{
    padding: 50px 30px 0px 30px;
 width: 100vw;
 min-height: 150px;
 max-width: 1200px;
 position: relative;
 display: flex;
 gap: 30px;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.not-found-main > img{
    width: 100%;
}
.text-not-found{
    text-align: center;
    font-size: 20px;
    bottom: 1px;
}
.img-not-found > img{
    opacity: 60%;
}