.card-container{
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    border: none;
    gap: 10px;
    max-width: 250px;
    position: relative;
    min-height: 350px;
    background-color: rgba(255, 255, 255, 0.600);
    border-radius: 5px;
}

.card-container > .top-card{
    height: 200px;
    position: relative;
}
.top-card > .new-product{
    position: absolute;
    top: 5px;
    right: 0;
    background-color: #5E718B;
    padding: 2px 8px;
    color: white;
    font-size: 14px;
    z-index: 10;
}
.card-container > .bottom-card{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottom-card > h4{
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}
.bottom-card > span{
   font-weight: bolder;
}
.bottom-card > a{
    width: 100%;
    max-width: 120px;
    padding: 5px;
    font-size: 12px;
    background-color: #5E718B;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 1.5px;
    text-align: center;
}
.bottom-card > a:hover{
    background-color: #3b5570;
}
.slider-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}
.slider.animated{
    height: 100%;
}
.image-container{
    height: 100%;
    max-width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-container > img{
    max-height: 200px;
}
.slide.selected{
   height: 100%;
}
.carousel-root{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.carousel-root > .carousel{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    border-radius: 0px;
}
.thumbs-wrapper.axis-vertical{
    margin: 0px;
    height: 100%;
    width: 100%;
}
.control-dots{
    z-index: 30;
}

.image-in-carousel{
    object-fit: cover;
    object-position: center;
    max-width: 180px;
}
.card-title{
    font-weight: 500;
    text-align: center;
}

@media (min-width: 769px) {
    .card-container{
        width: calc(35% - 20px);
        min-height: 420px;
        max-height: 430px;
    }
    .card-container > .top-card{
        height: 300px;
        position: relative;
    }
}
@media (min-width: 1024px) {
    .card-container{
        width: calc(25% - 20px);
    }
}