header{
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgb(165, 163, 163);
}
header > .top-header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    background-color: white;
}
.logo-container{
    width: 80px;
}

.top-header > .logo-container > .logo-a{
    width: 80px;
    border-radius: 50%;
}

.logo-container > .logo-a > img {
    width: 100%;
}

.menu-container{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #5E718B;
}
.menu-container > button{
    border: none;
    background-color: inherit;
}
.menu-container > .icon{
    font-size: 1.5em;
}
.dropsidebar-menu{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    background-color: #f8f8f8;
    height: 100vh;
    translate: 0 0;
    transition: 500ms;
    padding-left: 15px;
}
.dropsidebar-menu.closed{
    visibility: hidden;
    opacity: 0;
    translate: -100% 0;
}

.dropsidebar-menu > div{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 10px 5px;
}
.dropsidebar-menu > div > .icon-sidebar{
    cursor: pointer;
    color: rgb(55, 54, 54);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.dropsidebar-menu > div > .icon-sidebar:hover{
    width: 15px;
    height: 15px;
    transition: 100ms;
}

.dropsidebar-menu > ul{
    width: 100%;
}
.option-sidebar{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.option-sidebar > a:hover{
    color: #474747;
}
.dropsidebar-menu > ul > .select-nav > button{
    font-size: 16px;
    transition: font-size 500ms;
}
.dropsidebar-menu > ul > li > a{
    color: rgb(111, 111, 111);
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    transition: font-size 500ms;
}

.select-nav > button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border: none;
    background-color: inherit;
    color: rgb(111, 111, 111);
    font-size: medium;
    cursor: pointer;
    height: 50px;
    scale: 0.6s;
    position: relative;
    font-size: 20px;
}
.select-nav > .dropdown-select{
   position: absolute;
   top: 180px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   background-color: inherit;
   background-color: #5E718B;
   z-index: 10;
   width: 100%;
   transform-origin: 50% 0;
   transition: 300ms;
   border-radius: 0px 0px 15px 15px;
   border-top: 1px solid rgba(255, 255, 255, 0.08);
}
.dropdown-select.closed{
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
}
.top-header > .cart-container{
    display: flex;
    gap: 2px;
}
.icon{
    color: #5E718B;
    font-size: 1.5em;
}
.cart-container > span{
    background-color: #5E718B;
    color: white;
    width: 22px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > .nav-div{
    width: 100%;
    background-color: #e9ccb1;
    height: 40px;
    display: flex;
}
.search-header-container{
    width: 50%;
}
.nav-div > .search-header-container > .search-header{
   display: flex;
   gap: 0px;
   width: 100%;
   height: 90%;
   position: relative;
}
.search-header > .container-searching{
   position: absolute;
   width: 100%;
   max-width: 465px;
   background-color: white;
   top: 31px;
   border-radius: 0px 0px 20px 0px;
   padding: 0px 5px;
   border: 1px solid rgba(128, 128, 128, 0.585);
   border-top: none;
}
.container-searching > ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.item-searching{
    list-style: none;
    width: 100%;
    padding: 5px 0px;
    color: #4a5c74;
    border-top: 1px solid rgba(215, 215, 215, 0.576);
}
.item-searching:hover{
    color: #6e87a8;
    background-color: #efe5dc65;
}
.search-header > input{
    border: none;
    padding-left: 10px;
    width: 90%;
    color: #5E718B;
    outline: none;
    background-color: white;
    border-radius: 0px;
}
.search-header > button{
    border: none;
    background-color: white;
    width: 30px;
    border-radius: 0px 0px 10px 0px;
}
.nav-div > .button-nav{
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}
.button-nav > button{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border: none;
    background-color: #edbfa205;
    color: #5E718B;
    font-size: medium;
    cursor: pointer;
    height: 40px;
    scale: 0.6s;
}
.button-nav > .dropdown-menu{
   position: absolute;
   top: 40px;
   overflow: hidden;
   display: grid;
   background-color: #e9ccb1;
   width: 100%;
   transform-origin: 50% 0;
   transition: 300ms;
   border-radius: 0px 0px 15px 15px;
   z-index: 10;
}
.dropdown-menu.closed{
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
}
.dropdown-menu > button{
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 12px;
    height: 40px;
    padding: 0px 10px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.474);
}
.dropdown-menu > button:hover{
    background-color: #f3d6bb65;
}
.dropdown-menu > button > a{
    color: #5E718B;
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

.dropdown-select-sidebar{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: inherit;
    background-color: #fbfbfb;
    z-index: 10;
    height: auto;
    width: 100%;
    transform-origin: 0% 0;
    transition: 200ms;
    border-top: 1px solid rgba(39, 39, 39, 0.08);
    border-bottom: 1px solid rgba(39, 39, 39, 0.08);
 }
 .dropdown-select-sidebar.closed{
    opacity: 0;
     visibility: hidden;
     translate: 0 -1%;
     height: 0;
 }
 .dropdown-select-sidebar > a{
    width: 100%;
    border: none;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    color: rgb(85, 85, 85);
    font-weight: 500;
 }
 .dropdown-select-sidebar > a:hover{
    cursor: pointer;
    color: #838383;
 }
.button-toCart{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
}
 .cart-display-container{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 90%;
    max-width: 400px;
    background-color: white;
    height: calc(100vh - (100vh - 100%));
    translate: 0 0;
    transition: 500ms;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}
.cart-display-container.closed{
    opacity: 0;
    visibility: hidden;
    translate: 200% 0;
}
.cart-top{
    display: flex;
    position: relative;
    padding: 5px 15px;
    height: 50px;
}
.close-cart{
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.cart-bottom{
    position: fixed;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgb(219, 219, 219);
    height: 60px;
    background-color: white;
}
.cart-bottom > button{
    border: none;
    background-color: #4a5c74;
    border-radius: 5px;
    color: white;
    padding: 10px;
}
.cart-contain{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 140px);
    overflow-y: auto;
}
.item-in-cart{
    display: flex;
    padding: 0px 15px;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
}
.image-item-in-cart{
    width: 40px;
}
.image-item-in-cart > img{
   width: 100%;
}
.div2-cart{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.div2-cart > p{
   font-size: 14px;
   font-weight: 600;
   min-width: 100px;
}
.quantity-cart{
    display: flex;
    font-size: 20px;
    gap: 10px;
}
.button-quantity-cart{
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    color: black;
}
.size-in-cart{
    font-size: 10px;
}
.div3-cart{
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    height: 100%;
}
.delete-in-cart{
    border: none;
    background-color: transparent;
    position: relative;
    width: 15px;
    height: 13px;
}
.trash-icon-cart{
    color: #fb2e2e;
    cursor: pointer;
}
.button-whatsapp{
    cursor: pointer;
}
.big-screen-nav{
    display: none;
}

.searchbar-container-bs{
    display: none;
}
@media (min-width: 1024px) {
    header{
        height: 180px;
        position: relative;
        align-self: center;
        background-color: white;
        box-shadow: 0px 0px 7px 0px rgba(165, 163, 163, 0.557);
    }
    header > .top-header{
        background-color: white;
        justify-content: center;
        border-radius: 0px 0px 10px 10px;
        position: fixed;
    }
    .top-header.scroll{
        box-shadow: 0px 0px 7px 0px rgba(165, 163, 163, 0.557);
        z-index: 100000;
    }
    .logo-container{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .logo-a{
        display: flex;
        justify-content: center;
    }
    header > .top-header > .logo-container > .logo-a > img{
        width: 160px;
        border-radius: 0px 0px 10px 10px;
        transition: 0.5s;
    }
    header > .top-header > .logo-container > .logo-a > img.logo-a-scroll{
        width: 100px;
        transition: 0.5s;
    }
    header > .nav-div{
        background-color: transparent;
    }
    .menu-container{
        display: none;
    }
    .dropsidebar-menu{
        display: none;
    }
    .nav-div > .search-header-container{
        display: none;
    }
    .nav-div > .button-nav{
        display: none;
    }
    .nav-div{
        justify-content: center;
        align-items: center;
    }
    .big-screen-nav{
        display: block;
        margin-top: 260px;
    }
    .big-screen-menu{
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    .big-screen-menu > li{
        width: 180px;
        text-align: center;
        list-style: none;
        align-self: center;
        font-size: 18px;
    }
    button.option-bs-menu{
        list-style: none;
        align-self: center;
        font-size: 18px;
        display: flex;
        justify-content: space-around;
        min-width: 200px;
    }
    .option-bs-menu{
        color: #5E718B;
        width: 100%;
        font-size: 18px;
    }
    .option-bs-menu > a{
        color: #5E718B;
        width: 100%;
        font-size: 18px;
    }
    .button-bs-nav > button{
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        border: none;
        background-color: #edbfa205;
        color: #5E718B;
        font-size: medium;
        cursor: pointer;
        height: 40px;
        scale: 0.6s;
    }
    .dropdown-bs-menu{
        position: absolute;
        top: 180px;
        overflow: hidden;
        display: grid;
        background-color: white;
        width: 100%;
        max-width: 230px;
        transform-origin: 50% 0;
        transition: 400ms;
        border-radius: 0px 0px 15px 15px;
        z-index: 10;
        border: 1px solid rgba(128, 128, 128, 0.429);
        border-top: none;
        box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.444);
    }
    .dropdown-bs-menu.closed{
        opacity: 0;
        visibility: hidden;
        transform: scaleY(0);
    }
    .dropdown-bs-menu > button{
        display: flex;
        align-items: center;
        font-size: 15px;
        gap: 12px;
        height: 40px;
        padding: 0px 10px;
        background-color: inherit;
        border: none;
        cursor: pointer;
        border-top: 1px solid rgba(227, 227, 227, 0.528);
        text-align: center;
    }
    .dropdown-bs-menu > button:hover{
        background-color: #efe5dc65;
    }
    .dropdown-bs-menu > button > a{
        color: #5E718B;
        width: 100%;
        height: 100%;
        text-align: left;
        display: flex;
        align-items: center;
    }
    .searchbar-container-bs{
        width: 25%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        border-radius: 5px;
        padding: 5px;
        top: 20px;
        min-width: 300px;
    }
    .cart-container{
        width: 25%;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: 20px;
        left: 20px;
    }
    .searchbar-container-bs > .search-header{
        display: flex;
        min-width: 290px;
        background-color: transparent;
        border-bottom: 1px solid #4a5c74;
        border-radius: none;
    }
    .search-header > input{
        font-size: 16px;
    }
    .searchbar-container-bs > .search-header > .container-searching{
        position: absolute;
        top: 35px;
        right: 0;
        width: 100%;
        max-width: 300px;
        border-radius: 10px;
        border: 1px solid grey;
        border-top: none;
        padding-right: 5px;
    }
    .searchbar-container-bs > .search-header > button{
        background-color: transparent;
    }
}
