.home-products-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
h2{
    align-self: center;
    color: rgb(59, 59, 59);
    font-weight: 500;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.800);
    padding: 5px;
    border-radius: 10px;
}
.home-products-container > div{
    width: 100%;
}
.home-products-container > button{
    padding: 10px;
    background-color: #5E718B;
    border: none;
}
.home-products-container > button > a{
    color: white;
}
.categories-list{
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   row-gap: 10px;
}
.categories-list > a{
    text-decoration: none;
    color: white;
    background-color: #5E718B;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
.categories-list > a:hover{
    background-color: rgb(68, 97, 129);
}
.products-container { 
    display: flex;
    justify-content: center;
}
.products-container > .cards-container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 10px;
}
.categories-container > h3{
    display: none;
}

@media(min-width: 769px){
    .home-products-container{
        max-width: 1200px;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
    }
    .home-products-container > .categories-container{
        max-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 30px;
    }
    .categories-list{
       flex-direction: column;
       padding-left: 15px;
    }
    .categories-list > a{
        color: rgb(35, 35, 35);
        font-size: 16px;
        background-color: inherit;
        padding: 0;
        text-align: left;
    }
    .categories-list > a:hover{
        color: rgb(74, 74, 74);
        background-color: transparent;
        padding: 0;
    }
    .products-container{
        width: 40%;
        max-width: 1000px;
        padding: 5px;
    }
    .categories-container > h3{
        display: block;
        font-weight: 500;
        padding: 15px 15px 0px 15px;
    }
    .home-products-container > button{
        display: none;
    }
    .products-container > .cards-container{
        justify-content: flex-start;
    }
}
@media (min-width: 1024px) {
    .products-container > .cards-container{
        justify-content: flex-end;
    }
    .cards-container.in-category{
        justify-content: flex-start;
    }
}