@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam';
}

#root{
  display: flex;
  flex-direction: column;
  width: calc(100vw - (100vw - 100%));
  min-height: 100vh;
  justify-content: space-between;
}

body{
  overflow-x: hidden;
}
.body-fixed{
  overflow-y: hidden;
}

.backdropPopUp{
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   animation: fade-in 300ms forwards;
   background-color: rgba(21, 21, 21, 0.295);
   z-index: 90;
}

main{
  margin-top: 120px;
}

a{
  text-decoration: none;
}
.nav-indicator > h4{
  padding: 20px;
  max-width: 800px;
  text-align: flex-start;
  align-self: flex-start;
}
.nav-indicator > h4 > a{
  text-decoration: none;
  color: grey;
}
.nav-indicator > h4 > a:hover{
  color: #30455c;
}
.nav-indicator > h4 > strong{
  color: #30455c;
}


@media (min-width: 769px) {
  main{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' preserveAspectRatio='50%' viewBox='0 0 2560 1700'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1000%26quot%3b)' fill='none'%3e%3ccircle r='70.72' cx='508.29' cy='1268.24' fill='rgba(151%2c 165%2c 169%2c 1)'%3e%3c/circle%3e%3ccircle r='72.635' cx='2401.04' cy='904.99' fill='rgba(94%2c 113%2c 139%2c 1)'%3e%3c/circle%3e%3ccircle r='150.08' cx='548.82' cy='828.02' fill='rgba(94%2c 113%2c 139%2c 1)'%3e%3c/circle%3e%3ccircle r='130.545' cx='2225.02' cy='71.21' fill='rgba(233%2c 204%2c 177%2c 1)'%3e%3c/circle%3e%3ccircle r='117.71' cx='260.46' cy='138.79' fill='rgba(151%2c 165%2c 169%2c 1)'%3e%3c/circle%3e%3ccircle r='89.685' cx='1176.42' cy='522.01' fill='rgba(94%2c 113%2c 139%2c 1)'%3e%3c/circle%3e%3ccircle r='43.1' cx='779.89' cy='1687.25' fill='rgba(233%2c 204%2c 177%2c 1)'%3e%3c/circle%3e%3ccircle r='82.655' cx='36.39' cy='1207.41' fill='rgba(233%2c 204%2c 177%2c 1)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1000'%3e%3crect width='2560' height='1700' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
  }
}

@media (min-width: 1024px) {

  main{
    margin: 0px;
  }
  .nav-indicator{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
