@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam';
}

#root{
  display: flex;
  flex-direction: column;
  width: calc(100vw - (100vw - 100%));
  min-height: 100vh;
  justify-content: space-between;
}

body{
  overflow-x: hidden;
}
.body-fixed{
  overflow-y: hidden;
}

.backdropPopUp{
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   animation: fade-in 300ms forwards;
   background-color: rgba(21, 21, 21, 0.295);
   z-index: 90;
}

main{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

a{
  text-decoration: none;
}
.nav-indicator > h4{
  padding: 20px;
  max-width: 800px;
  text-align: flex-start;
  align-self: flex-start;
}
.nav-indicator > h4 > a{
  text-decoration: none;
  color: grey;
}
.nav-indicator > h4 > a:hover{
  color: #30455c;
}
.nav-indicator > h4 > strong{
  color: #30455c;
}


@media (min-width: 1024px) {
   body{
    background-image: url('./public/images/fondo-body.webp');
    background-size: cover;
    background-attachment: fixed;
  }
  main{
    max-width: 1400px;
    margin-top: 20px;
    border-radius: 5px;
  }
  .nav-indicator{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
