@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam';
}

#root{
  display: flex;
  flex-direction: column;
  width: calc(100vw - (100vw - 100%));
  min-height: 100vh;
  justify-content: space-between;
}

body{
  overflow-x: hidden;
}
.body-fixed{
  overflow-y: hidden;
}

.backdropPopUp{
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   animation: fade-in 300ms forwards;
   background-color: rgba(21, 21, 21, 0.295);
   z-index: 90;
}

main{
  margin-top: 120px;
}

a{
  text-decoration: none;
}

@media (min-width: 1024px) {
  body{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' preserveAspectRatio='none' viewBox='0 0 2000 1500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1470%26quot%3b)' fill='none'%3e%3crect width='2000' height='1500' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M200.303%2c500.395C299.608%2c498.81%2c368.472%2c412.033%2c415.712%2c324.669C460.128%2c242.527%2c484.849%2c143.818%2c436.222%2c64.096C389.073%2c-13.202%2c290.841%2c-27.49%2c200.303%2c-28.485C107.365%2c-29.506%2c4.887%2c-19.757%2c-44.767%2c58.812C-96.966%2c141.407%2c-74.768%2c246.31%2c-27.355%2c331.742C21.764%2c420.248%2c99.094%2c502.01%2c200.303%2c500.395' fill='rgba(233%2c 204%2c 177%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M25.728%2c150.341C68.358%2c151.21%2c104.381%2c120.312%2c123.828%2c82.366C141.631%2c47.629%2c137.936%2c5.934%2c116.429%2c-26.639C96.949%2c-56.142%2c61.082%2c-66.276%2c25.728%2c-66.21C-9.483%2c-66.144%2c-45.583%2c-56.069%2c-64.387%2c-26.3C-84.384%2c5.358%2c-82.698%2c45.148%2c-65.682%2c78.503C-46.806%2c115.502%2c-15.799%2c149.495%2c25.728%2c150.341' fill='rgba(233%2c 204%2c 177%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M81.934%2c228.76C136.719%2c230.683%2c192.953%2c209.327%2c219.886%2c161.581C246.447%2c114.495%2c233.998%2c56.492%2c204.758%2c11.021C177.998%2c-30.594%2c131.391%2c-51.563%2c81.934%2c-52.951C29.516%2c-54.422%2c-26.64%2c-41.298%2c-53.442%2c3.774C-80.698%2c49.61%2c-67.701%2c106.759%2c-40.207%2c152.452C-13.679%2c196.539%2c30.513%2c226.955%2c81.934%2c228.76' fill='rgba(233%2c 204%2c 177%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1896.228%2c466.347C1985.552%2c460.929%2c2045.45%2c385.711%2c2090.737%2c308.528C2136.791%2c230.038%2c2180.983%2c136.905%2c2135.916%2c57.844C2090.584%2c-21.681%2c1987.761%2c-33.653%2c1896.228%2c-32.699C1806.876%2c-31.767%2c1713.921%2c-12.051%2c1665.045%2c62.754C1611.835%2c144.192%2c1607.696%2c250.484%2c1656.048%2c334.896C1704.668%2c419.776%2c1798.588%2c472.27%2c1896.228%2c466.347' fill='rgba(233%2c 204%2c 177%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1949.742%2c513.006C2050.567%2c514.83%2c2151.475%2c482.372%2c2207.851%2c398.761C2271.466%2c304.414%2c2295.856%2c181.293%2c2240.406%2c81.928C2183.802%2c-19.505%2c2065.689%2c-70.751%2c1949.742%2c-63.759C1844.537%2c-57.415%2c1763.745%2c20.721%2c1714.055%2c113.668C1667.547%2c200.665%2c1657.179%2c304.75%2c1707.319%2c389.705C1756.707%2c473.386%2c1852.59%2c511.248%2c1949.742%2c513.006' fill='rgba(233%2c 204%2c 177%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1989.192%2c669.503C2112.992%2c663.34%2c2195.246%2c550.816%2c2248.332%2c438.806C2293.176%2c344.186%2c2289.996%2c236.429%2c2237.333%2c145.927C2185.003%2c55.997%2c2093.166%2c-2.619%2c1989.192%2c-6.527C1877.728%2c-10.717%2c1767.31%2c32.471%2c1706.489%2c125.973C1639.865%2c228.398%2c1624.767%2c358.639%2c1681.149%2c467.04C1741.919%2c583.877%2c1857.659%2c676.051%2c1989.192%2c669.503' fill='rgba(233%2c 204%2c 177%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-171.93 1171.94 a143.87 143.87 0 1 0 287.74 0 a143.87 143.87 0 1 0 -287.74 0z' fill='rgba(233%2c 204%2c 177%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-112.56 1112.56 a25.12 25.12 0 1 0 50.24 0 a25.12 25.12 0 1 0 -50.24 0z' fill='rgba(233%2c 204%2c 177%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-239.3 1239.29 a278.59 278.59 0 1 0 557.18 0 a278.59 278.59 0 1 0 -557.18 0z' fill='rgba(233%2c 204%2c 177%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1958.022%2c1773.987C2075.278%2c1778.616%2c2197.84%2c1731.861%2c2252.183%2c1627.856C2303.758%2c1529.15%2c2256.334%2c1414.11%2c2194.434%2c1321.529C2140.508%2c1240.874%2c2054.929%2c1192.623%2c1958.022%2c1187.893C1850.853%2c1182.663%2c1734.048%2c1204.858%2c1677.95%2c1296.322C1619.917%2c1390.942%2c1645.371%2c1510.364%2c1701.514%2c1606.117C1756.91%2c1700.596%2c1848.585%2c1769.667%2c1958.022%2c1773.987' fill='rgba(233%2c 204%2c 177%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1401.52 1298.48 a396.96 396.96 0 1 0 793.92 0 a396.96 396.96 0 1 0 -793.92 0z' fill='rgba(233%2c 204%2c 177%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1737.886%2c1358.659C1777.738%2c1358.619%2c1804.077%2c1322.118%2c1823.756%2c1287.463C1843.106%2c1253.388%2c1859.264%2c1213.056%2c1839.918%2c1178.978C1820.404%2c1144.605%2c1777.396%2c1137.336%2c1737.886%2c1136.202C1695.565%2c1134.987%2c1646.116%2c1136.015%2c1625.177%2c1172.813C1604.354%2c1209.407%2c1629.885%2c1251.634%2c1651.718%2c1287.635C1672.405%2c1321.746%2c1697.992%2c1358.699%2c1737.886%2c1358.659' fill='rgba(233%2c 204%2c 177%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1470'%3e%3crect width='2000' height='1500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  }
  main{
    margin-top: 10px;
  }
}